<div class="about-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: '100%', alt: "profile image", class: 'profile-img' %>
      </div>

      <div class="col-md-8">
        <p>I currently reside in Somerset West. I have a Bachelors degree in Biodiversity and Ecology and am a self-taught software developer. My current interest is in website design and game development and I specialize in Ruby on Rails and C#. </p>

        <p class="lead">
          <%= link_to "My Github Profile", 'https://github.com/pdivvie', class: "btn btn-lg btn-info" %>
        </p>

      </div>

    </div>

  </div>
</div>



