<div class="contact-card-container">
  <div class="card">

    <h1>Contact Information</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <p>Cellphone number: <%= number_to_phone '0724412468' %></p>
        <p>Email address: <a href="mailto:pdivvie@outlook.com?subject=PortfolioContact" "pdivvie@outlook.com">pdivvie@outlook.com</a></p>
      </div>
    </div>

  </div>
</div>
