<main role="main" class="inner cover">
  <div class="about-card-container">
    <div class="card">

      <h1 class="cover-heading">Welcome.</h1>
      <p class="lead">This website was designed to act as a portfolio to showcase my work to anyone who is interested. In the navigation bar there are links to different sections of the website. If you wish to leave comments on the website then click the register button and login.</p>
      <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-info" %>
      </p>

    </div>
  </div>
</main>